@charset "utf-8";

@import url('./css2.css');
@import url('./css3.css');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, button {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  height: 100%;
  min-height: -webkit-fill-available
}
ul ,ol ,li {
  list-style: none;
}
body {
	height: 100%;
	margin: 0; 
	padding: 0; 
	font-size: 15px; 
	font-family: 'Noto Sans KR','NanumSquare','Nanum Gothic',sans-serif; 
	min-width: 320px; 
	color: #00c5df;
	-webkit-text-size-adjust: 100%;
}
input,select,button {
  vertical-align: middle;
}
img {
  vertical-align: top;
  -webkit-perspective: 1;
}
i, em, address {
  font-style: normal;
}
label, button {
  cursor: pointer;
}
a {
  color: #00c5df;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
	text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {
	outline: none;
}
input[type=text], 
input[type=button], 
input[type=password],
textarea, 
button {
	outline-style:none; 
	-webkit-appearance:none; 
	-webkit-border-radius:0;
	font-family: inherit;
}
input[type=text]::-webkit-input-placeholder,
input[type=button]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}
input[type=text]:-moz-placeholder,
input[type=button]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
	opacity: 1;
}
input[type=text]::-moz-placeholder,
input[type=button]::-moz-placeholder,
input[type=password]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999;
	opacity: 1;
}
input[type=text]:-ms-input-placeholder,
input[type=button]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color:#999999;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.ta_l {
	text-align:left; 
}
.ta_c {
	text-align:center; 
}
.ta_r {
	text-align:right; 
}
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.vaT {
	vertical-align: top;
}
.vaM {
	vertical-align: middle;
}
.vaB {
	vertical-align: bottom;
}
.w100 {
	width: 100%;
}
.navy-box {
	background: #ed3974;
	transition: box-shadow 0.2s ease-in-out!important;
	box-shadow: 0 0 10px #000033;
}
.navy-box:hover {
	box-shadow: 0 0 10px rgba(203,203,255,0.5);
}
.text-blue {
	color: #00c5df;
	font-size: 15px;
	word-break: keep-all;
    line-height: 1.3;
    font-weight: 300;
}
.text-white {
	color: #00c5df;
	font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.3;
}
.neon {
	position: relative;
	color: #00c5df;
	z-index: 1;
}
.neon:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.neon:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* .neon:hover:before {
	content: attr(data-cont);
	color: #ff0000;
	-webkit-animation: neon1 3s infinite;
    -moz-animation: neon1 3s infinite;
    -ms-animation: neon1 3s infinite;
    animation: neon1 3s infinite;
}
.neon:hover:after {
	content: attr(data-cont);
	color: #ff3c00;
	-webkit-animation: neon2 3s infinite;
    -moz-animation: neon2 3s infinite;
    -ms-animation: neon2 3s infinite;
    animation: neon2 3s infinite;
} */
@keyframes neon1 {
	0%{
		filter:blur(27px);
	}
	10%{
		filter:blur(37px);
	}
	20%{
		filter:blur(42px);
	}
	30%{
		filter:blur(28px);
	}
	40%{
		filter:blur(18px);
	}
	50%{
		filter:blur(25px);
	}
	60%{
		filter:blur(29px);
	}
	70%{
		filter:blur(32px);
	}
	80%{
		filter:blur(30px);
	}
	90%{
		filter:blur(35px);
	}
	100%{
		filter:blur(27px);
	}
}
@keyframes neon2 {
	0%{
		filter:blur(7px);
	}
	10%{
		filter:blur(17px);
	}
	20%{
		filter:blur(12px);
	}
	30%{
		filter:blur(8px);
	}
	40%{
		filter:blur(12px);
	}
	50%{
		filter:blur(5px);
	}
	60%{
		filter:blur(9px);
	}
	70%{
		filter:blur(12px);
	}
	80%{
		filter:blur(10px);
	}
	90%{
		filter:blur(15px);
	}
	100%{
		filter:blur(17px);
	}
}


@media screen and (max-width: 768px){
	.text-white {
		font-size: 4vw;
	}
	.text-blue {
		font-size: 3.3vw;
	}
	.neon:before {
		content: attr(data-cont);
		color: #ff0000;
		-webkit-animation: neon1 3s infinite;
	    -moz-animation: neon1 3s infinite;
	    -ms-animation: neon1 3s infinite;
	    animation: neon1 3s infinite;
	}
	.neon:after {
		content: attr(data-cont);
		color: #ff3c00;
		-webkit-animation: neon2 3s infinite;
	    -moz-animation: neon2 3s infinite;
	    -ms-animation: neon2 3s infinite;
	    animation: neon2 3s infinite;
	}
}