<div class="inner">
	<div class="left">
		<h1 class="logo">
			<a href="index.html"><img src="assets/images/logo.png" alt="로고">Ton</a>
		</h1>
		<p>
			Ton is the home of DeFi. Our community is building a comprehensive, decentralized trading platform for the future of finance.<br>Join us!
		</p>
		<!-- <ul class="sns">
			<li>
				<a href="#none"><img src="assets/images/sns01.png" alt=""></a>
			</li>
			<li>
				<a href="#none"><img src="assets/images/sns02.png" alt=""></a>
			</li>
			<li>
				<a href="#none"><img src="assets/images/sns03.png" alt=""></a>
			</li>
			<li>
				<a href="#none"><img src="assets/images/sns04.png" alt=""></a>
			</li>
		</ul> -->
	</div>
	<div class="right" style="display:none;">
		<ul>
			<li>
				<h3>Products</h3>
				<a href="#none">TonSwap AMM</a>
				<a href="#none">BentoBox Dapps</a>
				<a href="#none">Kashi Lending</a>
				<a href="#none">API</a>
			</li>
		</ul>
		<ul>
			<li>
				<h3>Support</h3>
				<a href="#none">Tutorials</a>
				<a href="#none">Documentation</a>
				<a href="#none">Discord</a>
				<a href="#none">Forum</a>
			</li>
		</ul>
		<ul>
			<li>
				<h3>Protocol</h3>
				<a href="#none">Meet Ton</a>
				<a href="#none">Vote</a>
				<a href="#none">Create a Pair</a>
				<a href="#none">Register for Onsen</a>
			</li>
		</ul>
	</div>
</div>