<div class="inner">
	<h1 class="logo">
		<a href="index.html"><img src="assets/images/logo.png" alt="로고"><span>Ton</span></a>
	</h1>
	<ul class="gnb">
		<li><a href="#none">Analytics</a></li>
		<li class="down">
			<a href="#none">EN</a>
			<ul>
				<li class="active"><a href="javascript:void(0)">EN</a></li>
				<li><a href="javascript:void(0)">KR</a></li>
				<li><a href="javascript:void(0)">CN</a></li>
			</ul>
		</li>
		<li class="app"><a href="#none">Enter App</a></li>
	</ul>
</div>

<div class="menu">
	<a href="#">
		<span></span>
		<span></span>
		<span></span>
	</a>
</div>